{% extends 'base.html' %}

{% block title %}Dashboard - Article - Vote{% endblock title %}

{% block content %}
  <form action="{% if vote == 'upvote' %}{% url 'knowledgebase:article_upvote' article.slug %}{% else %}{% url 'knowledgebase:article_downvote' article.slug %}{% endif %}" method="post">
    {% csrf_token %}
    <p>Are you sure you want to {% if vote == 'upvote' %}upvote{% else %}downvote{% endif %} "{{ article }}"?</p>
    <input type="submit" value="Confirm" />
  </form>
{% endblock %}
