{% extends 'base.html' %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
  <h1>Dashboard</h1>

  <h2>Categories</h2>
  <a href="{% url 'knowledgebase:dashboard_category_create' %}">Create</a>
  <table>
    <thead>
      <tr>
        <td>Title</td>
        <td>Author</td>
        <td>Options</td>
      </tr>
    </thead>

    <tbody>
      {% for category in categories_list %}
        <tr>
          <td>{{ category.title }}</td>
          <td>{{ category.author.username }}</td>
          <td>
            <a href="{{ category.get_absolute_url }}" target="_blank">View</a>
            |
            <a href="{% url 'knowledgebase:dashboard_category_update' category.pk %}">Edit</a>
            |
            <a href="{% url 'knowledgebase:dashboard_category_delete' category.pk %}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>Articles</h2>
  <a href="{% url 'knowledgebase:dashboard_article_create' %}">Create</a>
  <table>
    <thead>
      <tr>
        <td>Title</td>
        <td>Author</td>
        <td>Status</td>
        <td>Category</td>
        <td>Tags</td>
        <td>Options</td>
      </tr>
    </thead>

    <tbody>
      {% for article in articles_list %}
        <tr>
          <td>{{ article.title }}</td>
          <td>{{ article.author.username }}</td>
          <td>{{ article.get_status_display }}</td>
          <td>{{ article.category.title }}</td>
          <td>
            {% for tag in article.tags.names %}
              <span>{{ tag }}</span>
            {% endfor %}
          </td>
          <td>
            <a href="{{ article.get_absolute_url }}" target="_blank">View</a>
            |
            <a href="{% url 'knowledgebase:dashboard_article_update' article.pk %}">Edit</a>
            |
            <a href="{% url 'knowledgebase:dashboard_article_delete' article.pk %}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
