{% extends 'base.html' %}

{% load i18n %}

{% block title %}Articles{% endblock title %}

{% block content %}
  <div class="jumbotron text-center">
    <h1>{% trans "Articles" %}</h1>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="list-group">
        {% for article in articles_list %}
          <a href="{{ article.get_absolute_url }}" class="list-group-item">{{ article.title }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
