{% extends 'base.html' %}

{% block title %}Dashboard - Article - Vote{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3 panel panel-default">

      <div class="panel-body text-center">
        <form action="{% if vote == 'upvote' %}{% url 'knowledgebase:article_upvote' article.slug %}{% else %}{% url 'knowledgebase:article_downvote' article.slug %}{% endif %}" method="post">
          {% csrf_token %}
          <p>Are you sure you want to {% if vote == 'upvote' %}upvote{% else %}downvote{% endif %} "{{ article }}"?</p>

          <input type="submit" class="btn btn-primary" value="Confirm" />
        </form>
      </div>
    </div>
  </div>
{% endblock %}
