{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Categories" %}{% endblock title %}

{% block content %}
  <div class="jumbotron text-center">
    <h1>{% trans "Categories" %}</h1>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="list-group">
        {% for category in categories_list %}
          <a href="{{ category.get_absolute_url }}" class="list-group-item">{{ category.title }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
