{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Dashboard" %} - {% trans "Category" %} - {% trans "Delete" %}{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <div class="panel panel-default">
        <div class="panel-body">
          <form action="" method="post">
            {% csrf_token %}
            <p>{% blocktrans with title=category.title %}Are you sure you want to delete <strong>"{{ title }}"</strong>?{% endblocktrans %}</p>
            <input class="btn btn-danger" type="submit" value="{% trans 'Confirm' %}" />
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
