{% extends 'base.html' %}

{% block content %}
  <article>
    <header class="text-center">
      <h1>{{ category.title }}</h1>
      <p><strong>Published:</strong> <time pubdate="pubdate">{{ category.modified }}</time></p>
    </header>

    <section>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="panel panel-default">
            <div class="panel-body">
              {{ category.description }}
            </div>
          </div>

          <h2 class="text-center h3">Articles</h2>

          <div class="list-group">
            {% for article in articles %}
              <a href="{{ article.get_absolute_url }}" class="list-group-item">{{ article.title }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
  </article>
{% endblock %}
