{% extends 'base.html' %}

{% block title %}Dashboard - Category - Delete{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <div class="panel panel-default">
        <div class="panel-body">
          <form action="" method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete <strong>"{{ category.title }}"</strong>?</p>
            <input class="btn btn-danger" type="submit" value="Confirm" />
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
