{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Dashboard" %}{% endblock title %}

{% block content %}
  <h1>{% trans "Dashboard" %}</h1>

  <h2>
    {% trans "Categories" %}
    <a href="{% url 'knowledgebase:dashboard_category_create' %}">
      <small>{% trans "Create" %}</small>
    </a>
  </h2>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td>{% trans "Title" %}</td>
          <td>{% trans "Author" %}</td>
          <td>{% trans "Options" %}</td>
        </tr>
      </thead>

      <tbody>
        {% for category in categories_list %}
          <tr>
            <td>{{ category.title }}</td>
            <td>{{ category.author.username }}</td>
            <td>
              <a href="{{ category.get_absolute_url }}" target="_blank">
                {% trans "View" %}
              </a>
              |
              <a href="{% url 'knowledgebase:dashboard_category_update' category.pk %}">
                {% trans "Update" %}
              </a>
              |
              <a href="{% url 'knowledgebase:dashboard_category_delete' category.pk %}">
                {% trans "Delete" %}
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <h2>
    Articles
    <a href="{% url 'knowledgebase:dashboard_article_create' %}">
      <small>{% trans "Create" %}</small>
    </a>
  </h2>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td>{% trans "Title" %}</td>
          <td>{% trans "Author" %}</td>
          <td>{% trans "Status" %}</td>
          <td>{% trans "Category" %}</td>
          <td>{% trans "Tags" %}</td>
          <td>{% trans "Upvotes" %}</td>
          <td>{% trans "Downvotes" %}</td>
          <td>{% trans "Options" %}</td>
        </tr>
      </thead>

      <tbody>
        {% for article in articles_list %}
          <tr>
            <td>{{ article.title }}</td>
            <td>{{ article.author.username }}</td>
            <td>{{ article.get_status_display }}</td>
            <td>{{ article.category.title }}</td>
            <td>
              {% for tag in article.tags.names %}
                <span>{{ tag }}</span>
              {% endfor %}
            </td>
            <td>{{ article.total_upvotes }}</td>
            <td>{{ article.total_downvotes }}</td>
            <td>
              <a href="{{ article.get_absolute_url }}" target="_blank">
                {% trans "View" %}
              </a>
              |
              <a href="{% url 'knowledgebase:dashboard_article_update' article.pk %}">
                {% trans "Update" %}
              </a>
              |
              <a href="{% url 'knowledgebase:dashboard_article_delete' article.pk %}">
                {% trans "Delete" %}
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
