{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Home" %} - {% trans "Knowledgeable" %}{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-md-4 col-md-offset-1 text-center well">
      <a href="{% url 'knowledgebase:article_list' %}">
        {% trans "Articles" %}
      </a>
    </div>
    <div class="col-md-4 col-md-offset-2 text-center well">
      <a href="{% url 'knowledgebase:category_list' %}">
        {% trans "Categories" %}
      </a>
    </div>
  </div>
{% endblock %}
